@import url(clear.scss);

body{
   overflow: hidden;
   min-height: 100%;
   min-width: 100%;
   color: white;
   font-family: Roboto Condensed;
   
}
.wrapper{
   z-index: 10;
   min-height: 100%;
   min-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg{
position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
   img{
     
      min-height: 100%;
      min-width: 100%;
   }
}
h1{
   font-size: 38px;
   display: none;
   
   
}
h2{
   display: none;
   
   
}
button{
   font-family: Roboto Condensed;
   background: none;
   color: white;
   font-size: 32px;
   border-radius: 45px;
   border-width: 3px;
   height: 100px;
   width: 200px;
   border-color: white;
   border-style: solid;
   cursor: pointer;
   transition:  0.3s ease;
}
button:hover{
   border-radius: 30px;
}

.visible{
   
   display: block;
   transition:  0.3s ease;
   animation-name: anim;
   
}
.invisible{
   display: none;
   transition:  0.3s ease;
   
}
